--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO postgres;

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: employees_attendance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees_attendance (
    id bigint NOT NULL,
    date date NOT NULL,
    status character varying(10) NOT NULL,
    employee_id bigint NOT NULL
);


ALTER TABLE public.employees_attendance OWNER TO postgres;

--
-- Name: employees_attendance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.employees_attendance ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employees_attendance_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employees_customuser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees_customuser (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    role character varying(10) NOT NULL,
    department character varying(100),
    name character varying(100),
    phone character varying(15)
);


ALTER TABLE public.employees_customuser OWNER TO postgres;

--
-- Name: employees_customuser_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees_customuser_groups (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.employees_customuser_groups OWNER TO postgres;

--
-- Name: employees_customuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.employees_customuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employees_customuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employees_customuser_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.employees_customuser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employees_customuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employees_customuser_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees_customuser_user_permissions (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.employees_customuser_user_permissions OWNER TO postgres;

--
-- Name: employees_customuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.employees_customuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employees_customuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employees_employee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees_employee (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(254) NOT NULL,
    phone character varying(15) NOT NULL,
    department character varying(100) NOT NULL,
    designation character varying(50) NOT NULL,
    salary numeric(10,2) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.employees_employee OWNER TO postgres;

--
-- Name: employees_employee_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.employees_employee ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employees_employee_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employees_employeetask; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees_employeetask (
    id bigint NOT NULL,
    description text NOT NULL,
    marked_attendance boolean NOT NULL,
    submitted_at timestamp with time zone,
    admin_comment text,
    employee_id bigint NOT NULL,
    project_id bigint NOT NULL,
    task_id bigint NOT NULL,
    status character varying(20) NOT NULL
);


ALTER TABLE public.employees_employeetask OWNER TO postgres;

--
-- Name: employees_employeetask_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.employees_employeetask ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employees_employeetask_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employees_leaverequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees_leaverequest (
    id bigint NOT NULL,
    leave_type character varying(10) NOT NULL,
    reason text NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    status character varying(10) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    employee_id bigint NOT NULL
);


ALTER TABLE public.employees_leaverequest OWNER TO postgres;

--
-- Name: employees_leaverequest_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.employees_leaverequest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employees_leaverequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employees_project; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees_project (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    end_date date,
    start_date date,
    assigned_to_id bigint
);


ALTER TABLE public.employees_project OWNER TO postgres;

--
-- Name: employees_project_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.employees_project ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employees_project_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employees_projectcomment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees_projectcomment (
    id bigint NOT NULL,
    comment text NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    sender_id bigint NOT NULL,
    update_id bigint NOT NULL
);


ALTER TABLE public.employees_projectcomment OWNER TO postgres;

--
-- Name: employees_projectcomment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.employees_projectcomment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employees_projectcomment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employees_projectupdate; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees_projectupdate (
    id bigint NOT NULL,
    date date NOT NULL,
    update_text text NOT NULL,
    employee_id bigint NOT NULL,
    project_id bigint NOT NULL
);


ALTER TABLE public.employees_projectupdate OWNER TO postgres;

--
-- Name: employees_projectupdate_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.employees_projectupdate ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employees_projectupdate_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employees_salaryslip; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees_salaryslip (
    id bigint NOT NULL,
    base_salary numeric(10,2) NOT NULL,
    hra numeric(10,2) NOT NULL,
    da numeric(10,2) NOT NULL,
    bonus numeric(10,2) NOT NULL,
    tax numeric(10,2) NOT NULL,
    gratuity numeric(10,2) NOT NULL,
    provident_fund numeric(10,2) NOT NULL,
    final_salary numeric(10,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    employee_id bigint NOT NULL
);


ALTER TABLE public.employees_salaryslip OWNER TO postgres;

--
-- Name: employees_salaryslip_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.employees_salaryslip ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employees_salaryslip_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employees_task; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees_task (
    id bigint NOT NULL,
    description text NOT NULL,
    project_id bigint NOT NULL,
    due_date date,
    employee_id bigint NOT NULL,
    status character varying(20) NOT NULL
);


ALTER TABLE public.employees_task OWNER TO postgres;

--
-- Name: employees_task_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.employees_task ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employees_task_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employees_taskupdate; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees_taskupdate (
    id bigint NOT NULL,
    message text NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    is_admin boolean NOT NULL,
    sender_id bigint NOT NULL,
    task_id bigint NOT NULL
);


ALTER TABLE public.employees_taskupdate OWNER TO postgres;

--
-- Name: employees_taskupdate_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.employees_taskupdate ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employees_taskupdate_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_blacklistedtoken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.token_blacklist_blacklistedtoken (
    id bigint NOT NULL,
    blacklisted_at timestamp with time zone NOT NULL,
    token_id bigint NOT NULL
);


ALTER TABLE public.token_blacklist_blacklistedtoken OWNER TO postgres;

--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.token_blacklist_blacklistedtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_blacklistedtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_outstandingtoken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.token_blacklist_outstandingtoken (
    id bigint NOT NULL,
    token text NOT NULL,
    created_at timestamp with time zone,
    expires_at timestamp with time zone NOT NULL,
    user_id bigint,
    jti character varying(255) NOT NULL
);


ALTER TABLE public.token_blacklist_outstandingtoken OWNER TO postgres;

--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.token_blacklist_outstandingtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_outstandingtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
1	2025-07-05 12:43:34.348746+05:30	25	testuser	1	[{"added": {}}]	11	1
2	2025-07-06 01:59:41.236038+05:30	25	testuser	2	[]	11	1
3	2025-07-06 01:59:54.146877+05:30	25	testuser	2	[]	11	1
4	2025-07-06 02:02:27.526489+05:30	26	demo	1	[{"added": {}}]	11	1
5	2025-07-06 02:07:30.303347+05:30	27	demo1	1	[{"added": {}}]	11	1
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	authtoken	token
7	authtoken	tokenproxy
8	token_blacklist	blacklistedtoken
9	token_blacklist	outstandingtoken
10	employees	customuser
11	employees	employee
12	employees	leaverequest
13	employees	salaryslip
14	employees	attendance
15	employees	task
16	employees	project
17	employees	employeetask
18	employees	taskupdate
19	employees	projectupdate
20	employees	projectcomment
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: employees_attendance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.employees_attendance (id, date, status, employee_id) FROM stdin;
1	2025-07-07	Present	1
2	2025-07-07	Present	5
3	2025-07-08	Present	5
\.


--
-- Data for Name: employees_customuser; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: employees_customuser_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.employees_customuser_groups (id, customuser_id, group_id) FROM stdin;
\.


--
-- Data for Name: employees_customuser_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.employees_customuser_user_permissions (id, customuser_id, permission_id) FROM stdin;
\.


--
-- Data for Name: employees_employee; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: employees_employeetask; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.employees_employeetask (id, description, marked_attendance, submitted_at, admin_comment, employee_id, project_id, task_id, status) FROM stdin;
\.


--
-- Data for Name: employees_leaverequest; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: employees_project; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: employees_projectcomment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.employees_projectcomment (id, comment, "timestamp", sender_id, update_id) FROM stdin;
\.


--
-- Data for Name: employees_projectupdate; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.employees_projectupdate (id, date, update_text, employee_id, project_id) FROM stdin;
\.


--
-- Data for Name: employees_salaryslip; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: employees_task; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.employees_task (id, description, project_id, due_date, employee_id, status) FROM stdin;
31	An Employee Management System (EMS) project aims to digitize and streamline human resources processes within an organization. This system typically manages employee information, attendance, leaves, payroll, performance, and other related tasks, replacing manual or outdated methods.	6	2025-07-17	14	Pending
\.


--
-- Data for Name: employees_taskupdate; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.employees_taskupdate (id, message, "timestamp", is_admin, sender_id, task_id) FROM stdin;
\.


--
-- Data for Name: token_blacklist_blacklistedtoken; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.token_blacklist_blacklistedtoken (id, blacklisted_at, token_id) FROM stdin;
\.


--
-- Data for Name: token_blacklist_outstandingtoken; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 80, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 5, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 20, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 48, true);


--
-- Name: employees_attendance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employees_attendance_id_seq', 3, true);


--
-- Name: employees_customuser_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employees_customuser_groups_id_seq', 1, false);


--
-- Name: employees_customuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employees_customuser_id_seq', 26, true);


--
-- Name: employees_customuser_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employees_customuser_user_permissions_id_seq', 1, false);


--
-- Name: employees_employee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employees_employee_id_seq', 28, true);


--
-- Name: employees_employeetask_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employees_employeetask_id_seq', 1, true);


--
-- Name: employees_leaverequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employees_leaverequest_id_seq', 9, true);


--
-- Name: employees_project_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employees_project_id_seq', 8, true);


--
-- Name: employees_projectcomment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employees_projectcomment_id_seq', 18, true);


--
-- Name: employees_projectupdate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employees_projectupdate_id_seq', 12, true);


--
-- Name: employees_salaryslip_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employees_salaryslip_id_seq', 5, true);


--
-- Name: employees_task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employees_task_id_seq', 31, true);


--
-- Name: employees_taskupdate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employees_taskupdate_id_seq', 1, false);


--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.token_blacklist_blacklistedtoken_id_seq', 1, false);


--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.token_blacklist_outstandingtoken_id_seq', 390, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: employees_attendance employees_attendance_employee_id_date_8cf32e52_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_attendance
    ADD CONSTRAINT employees_attendance_employee_id_date_8cf32e52_uniq UNIQUE (employee_id, date);


--
-- Name: employees_attendance employees_attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_attendance
    ADD CONSTRAINT employees_attendance_pkey PRIMARY KEY (id);


--
-- Name: employees_customuser_groups employees_customuser_gro_customuser_id_group_id_c8ad628f_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_customuser_groups
    ADD CONSTRAINT employees_customuser_gro_customuser_id_group_id_c8ad628f_uniq UNIQUE (customuser_id, group_id);


--
-- Name: employees_customuser_groups employees_customuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_customuser_groups
    ADD CONSTRAINT employees_customuser_groups_pkey PRIMARY KEY (id);


--
-- Name: employees_customuser employees_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_customuser
    ADD CONSTRAINT employees_customuser_pkey PRIMARY KEY (id);


--
-- Name: employees_customuser_user_permissions employees_customuser_use_customuser_id_permission_48fb991e_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_customuser_user_permissions
    ADD CONSTRAINT employees_customuser_use_customuser_id_permission_48fb991e_uniq UNIQUE (customuser_id, permission_id);


--
-- Name: employees_customuser_user_permissions employees_customuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_customuser_user_permissions
    ADD CONSTRAINT employees_customuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: employees_customuser employees_customuser_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_customuser
    ADD CONSTRAINT employees_customuser_username_key UNIQUE (username);


--
-- Name: employees_employee employees_employee_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_employee
    ADD CONSTRAINT employees_employee_email_key UNIQUE (email);


--
-- Name: employees_employee employees_employee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_employee
    ADD CONSTRAINT employees_employee_pkey PRIMARY KEY (id);


--
-- Name: employees_employee employees_employee_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_employee
    ADD CONSTRAINT employees_employee_user_id_key UNIQUE (user_id);


--
-- Name: employees_employeetask employees_employeetask_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_employeetask
    ADD CONSTRAINT employees_employeetask_pkey PRIMARY KEY (id);


--
-- Name: employees_leaverequest employees_leaverequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_leaverequest
    ADD CONSTRAINT employees_leaverequest_pkey PRIMARY KEY (id);


--
-- Name: employees_project employees_project_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_project
    ADD CONSTRAINT employees_project_pkey PRIMARY KEY (id);


--
-- Name: employees_projectcomment employees_projectcomment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_projectcomment
    ADD CONSTRAINT employees_projectcomment_pkey PRIMARY KEY (id);


--
-- Name: employees_projectupdate employees_projectupdate_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_projectupdate
    ADD CONSTRAINT employees_projectupdate_pkey PRIMARY KEY (id);


--
-- Name: employees_salaryslip employees_salaryslip_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_salaryslip
    ADD CONSTRAINT employees_salaryslip_pkey PRIMARY KEY (id);


--
-- Name: employees_task employees_task_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_task
    ADD CONSTRAINT employees_task_pkey PRIMARY KEY (id);


--
-- Name: employees_taskupdate employees_taskupdate_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_taskupdate
    ADD CONSTRAINT employees_taskupdate_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_key UNIQUE (token_id);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq UNIQUE (jti);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: employees_attendance_employee_id_450daa06; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_attendance_employee_id_450daa06 ON public.employees_attendance USING btree (employee_id);


--
-- Name: employees_customuser_groups_customuser_id_351006dc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_customuser_groups_customuser_id_351006dc ON public.employees_customuser_groups USING btree (customuser_id);


--
-- Name: employees_customuser_groups_group_id_79a904d2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_customuser_groups_group_id_79a904d2 ON public.employees_customuser_groups USING btree (group_id);


--
-- Name: employees_customuser_user_permissions_customuser_id_ee550a71; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_customuser_user_permissions_customuser_id_ee550a71 ON public.employees_customuser_user_permissions USING btree (customuser_id);


--
-- Name: employees_customuser_user_permissions_permission_id_4a182de6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_customuser_user_permissions_permission_id_4a182de6 ON public.employees_customuser_user_permissions USING btree (permission_id);


--
-- Name: employees_customuser_username_a360636b_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_customuser_username_a360636b_like ON public.employees_customuser USING btree (username varchar_pattern_ops);


--
-- Name: employees_employee_email_14fffd5e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_employee_email_14fffd5e_like ON public.employees_employee USING btree (email varchar_pattern_ops);


--
-- Name: employees_employeetask_employee_id_4bb72dba; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_employeetask_employee_id_4bb72dba ON public.employees_employeetask USING btree (employee_id);


--
-- Name: employees_employeetask_project_id_d7aef717; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_employeetask_project_id_d7aef717 ON public.employees_employeetask USING btree (project_id);


--
-- Name: employees_employeetask_task_id_effa2331; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_employeetask_task_id_effa2331 ON public.employees_employeetask USING btree (task_id);


--
-- Name: employees_leaverequest_employee_id_bdc81dd8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_leaverequest_employee_id_bdc81dd8 ON public.employees_leaverequest USING btree (employee_id);


--
-- Name: employees_project_assigned_to_id_3ffd7da8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_project_assigned_to_id_3ffd7da8 ON public.employees_project USING btree (assigned_to_id);


--
-- Name: employees_projectcomment_sender_id_a90f0b17; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_projectcomment_sender_id_a90f0b17 ON public.employees_projectcomment USING btree (sender_id);


--
-- Name: employees_projectcomment_update_id_39de1741; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_projectcomment_update_id_39de1741 ON public.employees_projectcomment USING btree (update_id);


--
-- Name: employees_projectupdate_employee_id_0c76dcbb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_projectupdate_employee_id_0c76dcbb ON public.employees_projectupdate USING btree (employee_id);


--
-- Name: employees_projectupdate_project_id_12ccdc57; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_projectupdate_project_id_12ccdc57 ON public.employees_projectupdate USING btree (project_id);


--
-- Name: employees_salaryslip_employee_id_203bb26b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_salaryslip_employee_id_203bb26b ON public.employees_salaryslip USING btree (employee_id);


--
-- Name: employees_task_employee_id_992dedb7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_task_employee_id_992dedb7 ON public.employees_task USING btree (employee_id);


--
-- Name: employees_task_project_id_d8a6fca9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_task_project_id_d8a6fca9 ON public.employees_task USING btree (project_id);


--
-- Name: employees_taskupdate_sender_id_bcf8158d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_taskupdate_sender_id_bcf8158d ON public.employees_taskupdate USING btree (sender_id);


--
-- Name: employees_taskupdate_task_id_edaa513a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX employees_taskupdate_task_id_edaa513a ON public.employees_taskupdate USING btree (task_id);


--
-- Name: token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like ON public.token_blacklist_outstandingtoken USING btree (jti varchar_pattern_ops);


--
-- Name: token_blacklist_outstandingtoken_user_id_83bc629a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX token_blacklist_outstandingtoken_user_id_83bc629a ON public.token_blacklist_outstandingtoken USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_employees_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_employees_customuser_id FOREIGN KEY (user_id) REFERENCES public.employees_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_employees_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_employees_customuser_id FOREIGN KEY (user_id) REFERENCES public.employees_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_attendance employees_attendance_employee_id_450daa06_fk_employees; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_attendance
    ADD CONSTRAINT employees_attendance_employee_id_450daa06_fk_employees FOREIGN KEY (employee_id) REFERENCES public.employees_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_customuser_groups employees_customuser_customuser_id_351006dc_fk_employees; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_customuser_groups
    ADD CONSTRAINT employees_customuser_customuser_id_351006dc_fk_employees FOREIGN KEY (customuser_id) REFERENCES public.employees_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_customuser_user_permissions employees_customuser_customuser_id_ee550a71_fk_employees; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_customuser_user_permissions
    ADD CONSTRAINT employees_customuser_customuser_id_ee550a71_fk_employees FOREIGN KEY (customuser_id) REFERENCES public.employees_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_customuser_groups employees_customuser_groups_group_id_79a904d2_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_customuser_groups
    ADD CONSTRAINT employees_customuser_groups_group_id_79a904d2_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_customuser_user_permissions employees_customuser_permission_id_4a182de6_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_customuser_user_permissions
    ADD CONSTRAINT employees_customuser_permission_id_4a182de6_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_employee employees_employee_user_id_27bed289_fk_employees_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_employee
    ADD CONSTRAINT employees_employee_user_id_27bed289_fk_employees_customuser_id FOREIGN KEY (user_id) REFERENCES public.employees_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_employeetask employees_employeeta_employee_id_4bb72dba_fk_employees; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_employeetask
    ADD CONSTRAINT employees_employeeta_employee_id_4bb72dba_fk_employees FOREIGN KEY (employee_id) REFERENCES public.employees_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_employeetask employees_employeeta_project_id_d7aef717_fk_employees; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_employeetask
    ADD CONSTRAINT employees_employeeta_project_id_d7aef717_fk_employees FOREIGN KEY (project_id) REFERENCES public.employees_project(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_employeetask employees_employeetask_task_id_effa2331_fk_employees_task_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_employeetask
    ADD CONSTRAINT employees_employeetask_task_id_effa2331_fk_employees_task_id FOREIGN KEY (task_id) REFERENCES public.employees_task(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_leaverequest employees_leavereque_employee_id_bdc81dd8_fk_employees; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_leaverequest
    ADD CONSTRAINT employees_leavereque_employee_id_bdc81dd8_fk_employees FOREIGN KEY (employee_id) REFERENCES public.employees_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_project employees_project_assigned_to_id_3ffd7da8_fk_employees; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_project
    ADD CONSTRAINT employees_project_assigned_to_id_3ffd7da8_fk_employees FOREIGN KEY (assigned_to_id) REFERENCES public.employees_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_projectcomment employees_projectcom_sender_id_a90f0b17_fk_employees; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_projectcomment
    ADD CONSTRAINT employees_projectcom_sender_id_a90f0b17_fk_employees FOREIGN KEY (sender_id) REFERENCES public.employees_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_projectcomment employees_projectcom_update_id_39de1741_fk_employees; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_projectcomment
    ADD CONSTRAINT employees_projectcom_update_id_39de1741_fk_employees FOREIGN KEY (update_id) REFERENCES public.employees_projectupdate(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_projectupdate employees_projectupd_employee_id_0c76dcbb_fk_employees; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_projectupdate
    ADD CONSTRAINT employees_projectupd_employee_id_0c76dcbb_fk_employees FOREIGN KEY (employee_id) REFERENCES public.employees_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_projectupdate employees_projectupd_project_id_12ccdc57_fk_employees; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_projectupdate
    ADD CONSTRAINT employees_projectupd_project_id_12ccdc57_fk_employees FOREIGN KEY (project_id) REFERENCES public.employees_project(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_salaryslip employees_salaryslip_employee_id_203bb26b_fk_employees; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_salaryslip
    ADD CONSTRAINT employees_salaryslip_employee_id_203bb26b_fk_employees FOREIGN KEY (employee_id) REFERENCES public.employees_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_task employees_task_employee_id_992dedb7_fk_employees_employee_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_task
    ADD CONSTRAINT employees_task_employee_id_992dedb7_fk_employees_employee_id FOREIGN KEY (employee_id) REFERENCES public.employees_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_task employees_task_project_id_d8a6fca9_fk_employees_project_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_task
    ADD CONSTRAINT employees_task_project_id_d8a6fca9_fk_employees_project_id FOREIGN KEY (project_id) REFERENCES public.employees_project(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_taskupdate employees_taskupdate_sender_id_bcf8158d_fk_employees; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_taskupdate
    ADD CONSTRAINT employees_taskupdate_sender_id_bcf8158d_fk_employees FOREIGN KEY (sender_id) REFERENCES public.employees_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_taskupdate employees_taskupdate_task_id_edaa513a_fk_employees_task_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees_taskupdate
    ADD CONSTRAINT employees_taskupdate_task_id_edaa513a_fk_employees_task_id FOREIGN KEY (task_id) REFERENCES public.employees_task(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk FOREIGN KEY (token_id) REFERENCES public.token_blacklist_outstandingtoken(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outs_user_id_83bc629a_fk_employees; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outs_user_id_83bc629a_fk_employees FOREIGN KEY (user_id) REFERENCES public.employees_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

